#dev_helper #dh_output { font-size: 11px; font-family: monospace; white-space: pre-wrap; }
#dev_helper #dh_input_cache_filter { float: left; }
#dev_helper label { margin-bottom: -7px; }
#dev_helper form { margin: 0px; }
#dev_helper hr { margin: 5px 0px; }
#dev_helper hr { margin: 5px 0px; }
#dev_helper input, #dev_helper button { font-size: 80%; }
