<div id="dev_helper">

 <form action="#ClearTemplateCache" data-bind="onsubmit: handleClearTemplateCache">
  <div class="row-fluid">
   <label for="dh_input_cache_filter" class="span12">Part of template file path</label>
  </div>
  <div class="row-fluid">
   <input id="dh_input_cache_filter" class="span7" type="text" data-bind="value: inputCacheFilter" placeholder="Eg. dev_helper_sidebar" spellcheck="false"/>
   <button id="dh_button_clear_template_cache" class="btn btn-block span5" data-bind="click: handleClearTemplateCache, enable: !isDisabled()">{{ _('Clear .tpl cache') }}</button>
  </div>
 </form>

 <hr/>

 <form action="#ReloadClass" data-bind="onsubmit: handleReloadClass">
  <div class="row-fluid">
   <label for="dh_input_module" class="span6">Module</label>
   <label for="dh_input_class" class="span6">Class name</label>
  </div>
  <div class="row-fluid">
   <input id="dh_input_module" type="text" class="span6" data-bind="value: inputModule" placeholder="Eg. DevHelper" spellcheck="false"/>
   <input id="dh_input_class" type="text" class="span6" data-bind="value: inputClass" placeholder="Eg. DevHelperPlugin" spellcheck="false"/>
  </div>
  <div class="row-fluid">
   <button class="btn btn-block" id="dh_reload_module" data-bind="click: handleReloadClass, enable: !isDisabled()">{{ _('Reload class') }}</button>
  </div>
 </form>

 <hr/>

 <div class="row-fluid">
  <div id="dh_output" data-bind="text: output"></div>
 </div>
</div>
